@import url('https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap');

body {
    margin: 0;
    padding: 0;
}

header {
    background-color: black;
    color: white;
    padding-inline: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.comeco, .final {
    display: flex;
    align-items: center;
    gap: 20px;
}

header .logo img {
    width: 60px;
}

header a {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: white;
    transition: 200ms ease-in-out;
    padding: 7px;
    font-size: 15px;
}

header a:hover {
    background-color: rgba(255, 255, 255, 0.256);
    border-radius: 30px;
}

header a.ajuda {
    margin-left: 50px;
}

.slideshow img {
    width: 100%;
    transform: scaleX(-1);
}

.cadastrese {
    background-color: white;
    color: black;
}
.cadastrese:hover {
    background-color: rgb(220, 228, 237);
    border-radius: 0;
    right: 1px;
}

#bloco {
    background-color: white;
    position: absolute;
    width: 38%;
    height: 600px;

    top: 120px;
    left: 150px;
    box-shadow: rgba(0, 0, 0, 0.183) 1px 1px 20px 1px;
}

#up {
    width: 100%;
    height: fit-content;
    margin: 20px 0;
}

#up ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0;
}
#up ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    font-size: 20px;
    cursor: pointer;
    transition: 400ms ease-in-out;
    width: 20%;
    padding: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#up ul li:hover {
    background-color: rgb(0, 0, 0);
    border-radius: 30px 0px;
    color: white;
}

#up h1 {
    font-family:Arial, Helvetica, sans-serif;
    width: 80%;
    font-size: 50px;
    margin: 20px 50px;
    margin-bottom: 0;
    font-family: 'Jost', sans-serif;
}

#up .corrida{
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 30px;
    gap: 25px;
}

#up .corrida input {
    height: 50px;
    width: 80%;
    padding-inline: 20px;
}

#seta {
    position: absolute;
    right: 100px;
    top: 328px;
    font-size: 45px
}

.botoes {
    display: flex;
    justify-content: center;
    gap: 10%;
}

.botoes #botao01, #botao02 {
    padding: 10px;
    border-radius: 6px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
    transition: 240ms ease-in-out;
    font-size: 20px;
}
.botoes #botao01:hover, #botao02:hover {
    background-color: rgb(57, 57, 57);
}
.botoes #botao01 {
    background-color: black;
    color: white;
}

.botoes #botao02 {
    background-color: rgb(225, 228, 228);
}